.others{
  display: flex;
  justify-content: center;
  border-top: 1px solid grey;
  padding-top: 10px;
}
.others a{
  text-decoration: none;
  font-family: "ubuntu-medium",sans-serif;
  padding: .7rem 1.2rem;
  border-radius: 5px;
}
@media (max-width: 570px){
  .g-recaptcha {
      position: relative;
      margin-left: -20px;
  }
}
