.others{
  display: flex;
  justify-content: center;
  border-top: 1px solid grey;
  padding-top: 10px;
}
.others a{
  text-decoration: none;
  font-family: "ubuntu-medium",sans-serif;
  padding: .7rem 1.2rem;
  border-radius: 5px;
}
.loginForm #submit{
  background: linear-gradient(to right, #917ba2, #8f6285);
}
.unauth{
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-size: 1.2rem;
  font-family: "ubuntu-bold", sans-serif;
  margin: 1rem .5rem;
}

/*  */
@media (max-width: 570px){
}
