.others{
  display: flex;
  border-top: 1px solid grey;
  padding-top: 10px;
  margin-bottom: 10px;
}
.others a{
  font-size: .88rem;
  text-decoration: none;
  font-family: "ubuntu-medium",sans-serif;
  padding: .7rem 0rem;
  border-radius: 5px;
}
#registerNow{
  margin-left: 1.2rem;
}

.otpMail{
  color: blue;
  font-style: italic;
  font-size: 1rem;
}
