.others{
  display: flex;
  justify-content: center;
  border-top: 1px solid grey;
  padding-top: 10px;
}
.others a{
  text-decoration: none;
  font-family: "ubuntu-medium",sans-serif;
  padding: .7rem;
  border-radius: 5px;
}
